@media only screen and (max-width:800px) {
    body{
        width: 80%;
        padding: 0;
    }
}
@media only screen and (max-width:500px) {
    body{
        width:100%;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }