@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.story,.getstarted1 {
    text-align: center;
}
.container{
    display: block;
    grid-template-rows: 7% 50% 5% 40% 20% 20% ;
    grid-template-columns: repeat(4, 25%);
}
.container1{
    background: white;
    width: 80%;
    border: 5px;
    margin-top: 5%;
    margin-left: 7%;
    border-radius: 10px;
    box-shadow: 5px 10px 20px hsl(0, 0%, 75%);
}
.container2{
    background-color:inherit;
    width: 70%;
    border: 5px;
    margin-top: 11%;
    margin-left: 18%;
}
.container3{
    text-align: center;
    width:90%;
}
.container4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 20%;
    margin: 7%;
    float: left;
    grid-column: 2;
    grid-row: 6;
}
.container5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 20%;
    margin: 7%;
    float: left;
    grid-column: 2;
    grid-row: 6;
}
.container6{
    margin-left: 35%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-self: top;
    height: 5%;
    float: left;
    grid-column: 2;
    grid-row: 6;
}

.header{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-bottom: 15%;
    background: white;
    grid-column: 1/6;
    grid-row: 1;
}
.curve{
    height: 52px;
    margin-top: 10%;
    grid-column: 1/6;
    grid-row: 3;
    background-image: url(bg-curve-mobile.svg);
}
.story{
    display: flex;
    background: white;
    grid-column: 3/6;
    grid-row: 2;
}
.story2{
    text-align: center;
    padding: 5%;
    height: 100%;
    background: white;
    grid-column: 1/3;
    grid-row: 2;    
}
.div{
    width: 100%;
    height: 100px;
}
.cor{
    background: hsl(240, 75%, 98%);
}
.getstarted1{
    display: flex;
    padding-left: 7%;
    background: hsl(240, 75%, 98%);
    grid-column: 1/3;
    grid-row: 4;
}
.getstarted2{
    height: 200%;
    padding-right: 10%;
    background: hsl(240, 75%, 98%);
    grid-column: 3/6;
    grid-row: 4;
}
.footer{
    height: 1000px;
    background: hsl(243,85%,12%);
    grid-column: 1/-1;
    grid-row: 6;
}
.earlyaccess{
    display: flex;
    padding-left: 10%;
    background: hsl(238, 22%, 44%);
    grid-column: 1/3;
    grid-row: 5;
}
.earlyaccess2{
    padding-right: 10%;
    background: hsl(238, 22%, 44%);
    grid-column: 3/6;
    grid-row: 5;
    height: 300px;
}
body{
    padding: 0%;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.btn{
    margin-right: 5%;
    float: right;
    border: none;
    font-size:130%;
    cursor: pointer;
    outline: none;
    transition-duration: 0.1s;
}
.btn:active{
    transform: translateY(1px);
}
.btn2{
    border: none;
    cursor: pointer;
}
.illustration-1{
    max-width: 100%;
    max-height: 100%;
    float: left;
}
.arrow{
    width: 10%;
    margin-left: 3%;
}
.illustration-2{
    margin-bottom: 20%;
    position: center;
    max-width: 100%;
    max-height: 100%;
    float: left;
}
.avatar{
    margin-top: 5%;
    position: absolute;
    border-radius: 50%;
    width: 10%;
}
.h1{
    font-size: 100%;
    margin-left: 7%;
    color: hsl(240, 75%, 98%);
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}
h2{
    font-size: 270%;
    font-weight: 700%;
    color: hsl(243,85%,12%);
}
.stay{
    font-family: "Open Sans", sans-serif;
    font-size: 170%;
    font-weight: 700;
    color: hsl(243,85%,12%);
    text-align: center;
}
h6{
    text-align: center;
    font-weight: 700%;
    width: auto;
    font-size: 170%;
    margin: 20%;
    margin-bottom: 8%;
    color: hsl(240, 75%, 98%);
}
h3{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 170%;
    font-weight: 400;
}
h7{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 140%;
    color: hsl(240, 75%, 98%);
}
h1{
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    font-weight:700;
}
h4{
    margin:0%;
    font-size: 95%;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.h4{
    font-size: 110%;
    font-weight: 0;
    font-family: "Open Sans", sans-serif;
    color: hsl(240, 75%, 98%);
}
h5{
    margin-top:2%;
    font-size: 85%;
    font-weight: 200px;
    font-family: "Open Sans", sans-serif;
}

.email{
    height: 45%;
    border: solid 1px;
    border-color: hsl(0, 0%, 75%);
    border-radius: 3px;
    font-size: large;
}
.email2{
    margin-left: 20%;
    margin-top: 10%;
    height: 20%;
    width: 70%;
    border: solid 1px;
    border-color: hsl(0, 0%, 75%);
    border-radius: 3px;
    font-size: large;
    box-shadow: 5px 10px 20px (hsl(0, 0%, 75%));
}
.phone{
    width: 200%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}
.mail{
    width: 200%;
    display: flex;
    
    margin-top: 20%;
}
.contact{
    margin-top: 40%;
    margin-left: 60%;
    align-items: right;
    display: flex;
    grid-column: 3;
    grid-row: 6;
}
.terms{
    margin-top: 6%;
    margin-left: 60%;
    align-items: right;
    display: flex;
    grid-column: 3;
    grid-row: 6;
}
.privacy{
    margin-top: 6%;
    margin-left: 60%;
    grid-column: 3;
    grid-row: 6;
}
.button{
    display: flex;
    width: 100%;
}
.social{
    margin-top: 20%;
    margin-left: 30%;
}
.btn3{
    border: none;
    border-radius: 3px;
    background:  hsl(224, 93%, 58%);
    font-family: "Open Sans", sans-serif;
    color: hsl(240, 75%, 98%);
    font-size: 100%;
    height: 50%;
    width: 87%;
    margin: 4%;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.btn6{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background:  hsl(224, 93%, 58%);
    font-family: "Open Sans", sans-serif;
    color: hsl(240, 75%, 98%);
    font-size: 95%;
    height: 20%;
    width: 71%;
    margin-top: 5%;
    margin-left: 20%;
    font-weight: 600;
    outline: none;
    box-shadow: 5px 10px 20px hsl(240, 36%, 17%);
}
.btn4{
    margin: 0%;
    position: relative;
    left: 570%;
    border: none;
    background: inherit;
    cursor:pointer;
    outline: none;
}
.btn5{
    margin:0%;
    margin-left: 20%;
    position: relative;
    border: none;
    border-bottom: 2px solid hsl(170, 45%, 43%);
    background: inherit;
    height: 4%;
    width: 56%;
    cursor:pointer;
    outline: none;
}
.btn-footer{
    height: 5%;
    padding:1px;
    cursor: pointer;
    border: none;
    background: hsl(243,85%,12%);
    font-family: "Open Sans", sans-serif;
    color: hsl(240, 75%, 98%);
    outline: none;
}
.btn-footer1{
    height: 0%;
    cursor: pointer;
    border: none;
    background: hsl(243,85%,12%);
    font-family: "Open Sans", sans-serif;
    outline: none;
}
.letras{
    display: flex;
    font-size: 170%;
    color:  hsl(170, 45%, 43%);
}
.logo{
    height: 150px;
    align-items: right;
    display: flex;
    float: left;
    margin-top: 10%;
    margin-left: 7%;
}

.attribution{
    font-size: 70%; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
